body,
body * {
box-sizing: border-box;
margin: 0;
padding: 0;
}

.container{
    display: inline-block;
    width: 1350px;
    height: 750px;
    margin-left: calc(50% - 675px);
    margin-top: calc(50vh - 375px);
    font-family: monospace;
    color: white;
    font-size: 24px;
}

.left-column{
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    height: 100%;
    /* background-color: beige; */
}

.logo{
    margin: 10% 0 0 10%;
    display: inline-block;
    width: 40%;
    user-select: none;
}

.logo > img{
    width: 100%;
}

.logo:hover{
    box-shadow: 0 0 2px 1px #00000088;
}

.menu,
.socials{
    display: flex;
    gap: 1.5em;
    width: 100%;
    padding: 10%;
}

.menu{
    flex-direction: column;
}

.menu-item{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    line-height: 1em;
    user-select: none;
}

.blue{
    color: #43C8B9;
}

.menu-item:hover{
    text-decoration: underline;
    color: violet;
}

.right-column{
    float: left;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 80%;
    height: 100%;
    background-color: lightskyblue; text-align: center;
    background-image: url(../img/bg.png);
    background-position: center;
    background-size: cover;
}

.main-image{
    font-size: inherit;
    margin-top: 12.5em;
    width: 100%;
    height: 20%;
    object-fit: contain;
    user-select: none;
}

.main-image:hover{
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
}

@keyframes spin {
    0% {transform: rotate(0);}
    25% {transform: rotate(90deg);}
    50% {transform: rotate(180deg);}
    75% {transform: rotate(270deg);}
    100% {transform: rotate(360deg);}
}

.title{
    font-size: 150%;
    font-weight: normal;
    line-height: 1em;
}

.description{
    line-height: 1em;
}

.go-home{
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    color: #fff;
    margin-top: 5em;
    user-select: none;
}

.go-home:hover{
    text-decoration: underline;
    color: #000;
}

@media (max-width: 1350px) {
    .container{
        width: 900px;
        height: 500px;
        margin-left: calc(50% - 450px);
        margin-top: calc(50vh - 250px);
        font-size: 16px;
    }
}

@media (max-width: 900px) {
    .container{
        width: 630px;
        height: 350px;
        margin-left: calc(50% - 315px);
        margin-top: calc(50vh - 175px);
        font-size: 11px;
    }
}

@media (max-width: 630px) {
    .container{
        width: 450px;
        height: 250px;
        margin-left: calc(50% - 225px);
        margin-top: calc(50vh - 125px);
        font-size: 8px;
    }
}

@media (max-width: 450px) {
    .container{
        width: 100%;
        height: 250px;
        margin-left: 0;
    }
    .socials{
        flex-wrap: wrap;
    }
}